* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: #f28ab2;
}

.container {
  border-radius: 1%;
  width: 90vw;
  background-color: white;
  max-width: 400px;
  margin: auto;
  margin-top: 70px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  padding: 15px 20px;
}

.container img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
}

.card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cardLeft {
  margin-right: 10px;
}

.header {
  margin-bottom: 20px;
}

.btn {
  background-color: #f28ab2;
  border: none;
  color: white;
  width: 100%;
  font-size: 20px;
  padding: 10px 0;
  cursor: pointer;
}

.btnContainer {
  display: flex;
  justify-content: center;
}
